<div class="container-fluid">
	<div class="footer">
		<hr />
		<div>
			<ul>
				<li><%= link_to I18n.t('about'),   about_path %></li>
				<li><%= link_to I18n.t('contact'), contact_path %></li>
			</ul>
		</div>
	</div>
</div>
